body {
    background-color: lightblue;
    font-family: Arial, sans-serif;
}

.box {
    background-color: white;
    width: 80%;
    margin: 100px auto;
    padding: 30px;
    text-align: center;
    border-radius: 15px;
}

#CalSorceTextfield {
    width: 700px;
}

#calendar {
    height: 1010px;
}

.kursRuta {
    width: 30%;
}

.lableSize {
    width: 30%;
}

.courseRow {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 8px;
}